#main{
    background-color: cornflowerblue;
}

.cell{
    width: 50px;
    height: 50px;
    border-radius: 6px;
    font-size:xx-large;
    background: rgba(113, 217, 205, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(113, 217, 205, 0.3);
}

.x{
    background-color: pink;
    color: darkred;
}

.o{
    background-color: skyblue;
    color: darkblue;
}
table{
    margin: 20px 550px;
}

.scoreboard{
    height: 40px;
    margin-top: 50px;
    padding-left: 490;

}
.score{
    width: 140;
    height: 30;
    border-radius: 6px;
    font-size: large;
    background: rgba(113, 217, 205, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(113, 217, 205, 0.3);
    text-align: left;
    padding-left: 20px;
}
#x{
    color: darkred;
}
#o{
    color: darkblue;
}
#winner{
    font-size: 70px;
    color: rgb(11, 184, 11);
    margin-left: 500px;
}
.winner{
    position: absolute;
    height: 200px;
    width: 100%;
    display: none;
    background: rgba(3, 155, 41, 0.829);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;}

#new-game{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    /* display: non e; */
    background: rgba(3, 155, 41, 0.829);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;
    font-size: 15px;
    color: blanchedalmond;
    margin-left: 580px;
}
/* #players{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    /* display: non e; */
    /* background: rgba(3, 155, 41, 0.829);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: none;
    font-size: 15px;
    color: blanchedalmond;
    margin-left: 580px;
} */
