#search{
    width: 300px;
    height: 40px;
    background-color: rgb(165, 164, 164);
    color: white;
}
.border{
    border-radius: 15px !important;
}
.border1{
    border-radius: 25px !important;
}
.border2{
    border-radius: 10px;
}
.border3{
    border-radius: 8px;
}
#green-bg{
    background-color: rgb(90, 172, 9);
}
.font_menu{
    font-size: 14px;
}
#loggin{
    height: 47px;
}
.font-text{
    font-size: 12px;
}
.border-color{
    border-color: blanchedalmond;
}
.font-text2{
    font-size: 13px;
}
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .width{
      width: 200px !important;
  }