body {
    display: flex;
    justify-content: center;
    }
.instagram{
    height: 250px;
    width: 250px;
    background: #d6249f;
    background: radial-gradient(circle at 20% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.center-part1{
width: 150px;
height: 150px;
border: 16px solid white;
border-radius: 50px;
background: transparent;
display: flex;
justify-content: center;
align-items: center;
}
.center-part2{
    width: 60px;
    height: 60px;
    border: 16px solid white;
    border-radius: 100px;
    background: transparent;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    }
.circle{
    width: 20px;
    height: 20px;
    border-radius: 45px;
    background: white;
    display: flex;
    position: relative;
    margin-left: 65%;
    margin-bottom: 65%;
}