body{
    background-color: rgb(230, 230, 230);
}
#search{
    width: 600px;
}
.carousel-indicators button{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
}