#search{
    width: 500px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
.border2{
    border-radius: 10px;
}
.border3{
    border-radius: 8px;
}
.font_menu{
    font-size: 14px;
}
.font-text{
    font-size: 12px;
}
.font-text2{
    font-size: 13px;
}
#select{
    height: 40px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }